<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <div>
        <span class="badge">{{hero.id}}</span>{{ hero.firstName }}
        {{ hero.lastName }}
        <div class="deletebutton"> <button class="delete" title="delete hero" (click)="delete(hero)">Delete</button></div>

        <div>
          {{ hero.address.address1 }}
        </div>

      </div>
    </a>
  </li>
</ul>
<div>
  <label for="new-hero">Hero FirstName: </label>
  <input id="new-hero" #herofirstName />

  <label for="new-hero">Hero LastName: </label>
  <input id="new-hero" #herolastName />




  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(herofirstName.value, herolastName.value)">
    Add hero
  </button>
  <label for="new-hero">Hero FullName: {{ getFullName(herofirstName.value, herolastName.value) }}</label>
</div>
