<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.firstName}}
      <button class="delete" title="delete hero"
  (click)="delete(hero)">x</button>
    </a>
  </li>
</ul>
<div>
  <label for="new-hero">Hero firstName: </label>
  <input id="new-hero" #herofirstName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(herofirstName.value); herofirstName.value=''">
    Add hero
  </button>

</div>
